
.top-grid-actions-container {
    gap: 0.5em;
    border: slategray ;
    border-width: thin;
    border-radius: 1em;
    border-style: solid;
}

.grid-container {
    height: 66vh;
    overflow-y: auto;   
    gap: 0.5em;
    border: slategray ;
    border-radius: 1em;
    border-style: solid;
}

.grid-container-height { 
    height: 33vh;
}

.action-button {
    font-size: medium;
}

.grid-header {
    gap: 0.5em;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: bisque;
    align-self: center;
}

mat-row:hover{
    cursor: pointer;
    background: #b4b4b433;
}

.mat-column-select {
    flex: 0 0 35px;
}

.column {
    width: fit-content;
}

th.mat-sort-header-sorted {
    color: black;
}

.empty-state {
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    color: burlywood;
    font-weight: bold;
    line-height: 66vh;
}