.grid-container {
    display: grid;
    height: 100vh;
    overflow-y: auto;   
    gap: 0.5em;
    border: black;
    border-radius: 1%;
    border-style: solid;
}

.action-button {
    font-size: medium;
}

/*
.action-buttons {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
*/

.grid-header {
    grid-template-columns: auto 1fr 1fr 1fr;
    display: grid;
    gap: 0.5em;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: bisque;
    align-self: center;
}

.grid-row {
    width: 100%;
    grid-template-columns: auto 1fr 1fr 1fr;
    display: grid;
    gap: 0.5em;
    align-self: center;
    cursor: pointer;
}

.grid-row:hover {
    background-color: yellow;
}