.dialog-header {
    display: flex;
    justify-content: space-between;
    margin: -22px 0px 0px -15px;
}

.dialog-header-title {
    width: 100%;
}

.dialog-buttons-container {
    display: flex;
    justify-content: space-between;
}

.close-button {
    float: right;
    align-self: self-end;
}