
.widget-container-wide {
    width: 24em;
}

.widget-container {
    background-color: burlywood;
    width: auto;
    height: 12em;
    min-width: 12em;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;    
}

.widget-header {
    border-color: burlywood;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;    
    background-color: steelblue;
    height: 2em;
    text-align: center;
}