
.side-menu {
    padding: 1em;
    width: 150px;
    height: 90%;
    border: gray;
    border-style: solid;
    border-width: thin;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

.side-menu-body {
    height: 90%;
}

.side-menu-item {
    display: flex;
    background-color: burlywood;
    padding: 1em;
    border: rgb(158, 158, 147);
    border-style: solid;
    border-radius: 1em;
    border-width: thin;
    margin: 0.5em;
}

side-menu-item div:hover{
    cursor: pointer;
    color:#DDD;
}

