
.toolbar-container {
    display: flex;
    padding: 1em;
    border: gray;
    border-style: solid;
    border-width: thin;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

span.toolbar-item {
    display: flex;
    width: fit-content;
    background-color: burlywood;
    padding: 1em;
    margin: 0.5em;
    border: rgb(158, 158, 147);
    border-style: solid;
    border-width: thin;
    border-radius: 1em;
}

span.toolbar-item:hover {
    background-color: gray;
    border: darkgoldenrod;
    cursor: pointer;
}

span.toolbar-item.to-right {
    margin-left: auto
}

