.main-shell {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;
    background-color: snow;
}

.menu-toggle-button {
    background-color: burlywood;
}

.shell-toolbar {
    grid-row: 1;
    grid-column: 1;
}

.drawer-container {
    grid-row: 2;
    grid-column: 0;
    column-span: all;
}

.shell-side-menu {
    grid-row: 1;
    grid-column: 0;
}

.shell-screen {
    grid-row: 1;
    grid-column: 1;
}


.app-version {
    font-size: x-small;
}

.app-contact {
    font-size: x-small;
}

