<div class="main-shell">
   
    <app-tool-bar class="shell-toolbar" *ngIf="sessionSrv.user != null"></app-tool-bar>

    <mat-drawer-container class="drawer-container" autosize>
    
        <button *ngIf="sessionSrv.user != null" mat-mini-fab class="menu-toggle-button" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>    
        <mat-drawer #drawer mode="side">
            <app-side-menu *ngIf="sessionSrv.user != null" [title]="'Title'" [menuItems]="menuItems"></app-side-menu>
        </mat-drawer>
        
        <div>
            <router-outlet></router-outlet>
        </div>    

    </mat-drawer-container>
</div>
