<div class="main-shell">
    <div class="app-info-container" *ngIf="sessionSrv.user != null">
        <div class="app-name">{{sessionSrv.appName}}</div>
        <div class="app-version">Version: {{sessionSrv.version}}</div>
        <div class="app-contact">Contact: {{sessionSrv.contactEmail}}</div>
    </div>    
    <app-tool-bar *ngIf="sessionSrv.user != null"></app-tool-bar>
    <app-side-menu *ngIf="sessionSrv.user != null" [title]="'Title'" [menuItems]="menuItems"></app-side-menu>
    <div>
        <router-outlet></router-outlet>
    </div>    
</div>
