.field-container {
    margin: 4px;
    padding: 1em;
    border: cadetblue;
    border-style: solid;
    border-width: thin;
    border-radius: 1%;
    height: 58px;
    width: -webkit-fill-available;
}

.error{
    color: red;
} 

.field-item {
    width: -webkit-fill-available;
}