.reports-container {
    display: flex;
    justify-content: space-around;
}

.report-list {
    display: flex;
    border: 1px solid;
    margin: 2px;
    justify-content: space-around;
}

.report-list-key {
    font-weight: bold;
}

.report-list-value {
    font-style: italic;
}

.chart-container {
    margin: auto;
}

.report-input {
    background: antiquewhite;
}

.report-input-container {
    padding: 8px;
}