.help-item-container {
    gap: 0.5em;
    border: slategray ;
    border-width: thin;
    border-radius: 1em;
    border-style: solid;
    margin: 15px;
    padding: 10px;
}

.help-container {
    height: 70vh;
    overflow-y: auto;   
    gap: 0.5em;
    border: slategray ;
    border-radius: 1em;
    border-style: solid;
}