<div class="user-form-container">     
    <app-field i18n-title title="First Name" [(value)]="context.first_name"></app-field>
    <app-field i18n-title title="Last Name" [(value)]="context.last_name"></app-field>
    <app-field i18n-title title="Email" [(value)]="context.email" [control]="emailControl"></app-field>
    <app-field i18n-title title="Phone" [(value)]="context.phone"></app-field>
    <app-field i18n-title title="Password" type="password" [(value)]="context.password"></app-field>
</div>
