<div>     
    <app-field i18n-title title="User Name" [(value)]="context.user.email" [control]="userNameControl"></app-field>
    <app-field i18n-title title="Password" type="password" [(value)]="context.user.password" [control]="passwordControl"></app-field>    
</div>
<div>
    <button mat-button i18n (click)="openRegisterDialog()">Register</button>
    <button mat-button i18n (click)="forgotPassword()" [disabled]="userNameControl.status != 'VALID'">Forget Password</button>
</div>
<span *ngIf="context.errors" class="error">{{context.errors}}</span>